In [1]:
import pandas as pd

In [2]:
import statsmodels.api as sm

In [3]:
fertility = sm.datasets.fertility.load_pandas()['data']; # Loading dataset
fertility1 = fertility.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis = 1) 
fertility1 = fertility1.reset_index()
fertility1 = fertility1.transpose()

In [ ]:
fertility1.head()

In [ ]:
fertility1 = fertility.rename_axis("Year", axis="columns")

In [ ]:
fertility1 = fertility.rename_axis("Country Name", axis="index")

In [5]:
fertility = sm.datasets.fertility.load_pandas()['data']; # Loading dataset
fertility = fertility.drop(['Indicator Name', 'Indicator Code'], axis = 1)

In [ ]:
fertility1 = fertility.rename_axis("Year", axis="columns")

In [6]:
print(fertility)

         Country Name Country Code   1960   1961   1962   1963   1964   1965  \
0               Aruba          ABW  4.820  4.655  4.471  4.271  4.059  3.842
1             Andorra          AND    NaN    NaN    NaN    NaN    NaN    NaN
2         Afghanistan          AFG  7.671  7.671  7.671  7.671  7.671  7.671
3              Angola          AGO  7.316  7.354  7.385  7.410  7.425  7.430
4             Albania          ALB  6.186  6.076  5.956  5.833  5.711  5.594
..                ...          ...    ...    ...    ...    ...    ...    ...
214       Yemen, Rep.          YEM  7.292  7.308  7.328  7.354  7.385  7.418
215      South Africa          ZAF  6.173  6.144  6.103  6.049  5.984  5.911
216  Congo, Dem. Rep.          COD  6.001  6.015  6.030  6.048  6.067  6.089
217            Zambia          ZMB  7.018  7.071  7.127  7.184  7.240  7.292
218          Zimbabwe          ZWE  7.158  7.215  7.267  7.311  7.347  7.373

      1966   1967  ...   2004   2005   2006   2007   2008   2009   2010  \
0    3.625  3.417  ...  1.786  1.769  1.754  1.739  1.726  1.713  1.701
1      NaN    NaN  ...    NaN    NaN  1.240  1.180  1.250  1.190  1.220
2    7.671  7.671  ...  7.136  6.930  6.702  6.456  6.196  5.928  5.659
3    7.422  7.403  ...  6.704  6.657  6.598  6.523  6.434  6.331  6.218
4    5.483  5.376  ...  2.004  1.919  1.849  1.796  1.761  1.744  1.741
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
214  7.447  7.471  ...  5.588  5.393  5.199  5.010  4.829  4.658  4.498
215  5.836  5.765  ...  2.721  2.675  2.627  2.580  2.538  2.500  2.467
216  6.111  6.135  ...  6.809  6.728  6.642  6.550  6.454  6.354  6.251
217  7.338  7.376  ...  5.974  5.954  5.932  5.908  5.881  5.849  5.813
218  7.391  7.403  ...  3.987  3.969  3.941  3.903  3.853  3.792  3.721

      2011  2012  2013
0    1.690   NaN   NaN
1      NaN   NaN   NaN
2    5.395   NaN   NaN
3    6.099   NaN   NaN
4    1.748   NaN   NaN
..     ...   ...   ...
214  4.348   NaN   NaN
215  2.438   NaN   NaN
216  6.146   NaN   NaN
217  5.773   NaN   NaN
218  3.643   NaN   NaN

[219 rows x 56 columns]

In [ ]:
fertility = fertility.drop(columns='index')

In [ ]:
fertility.head()

In [ ]:
df = fertility.transpose()

In [ ]:
df.head()

In [ ]:
df = df.drop(columns='index')

In [ ]:
df.insert(2, "Year", [NONE, NONE, range(1960, 2013)], True)

In [ ]:
df = df.reset_index()