In [1]:
import pandas as pd

In [2]:
from patsy import dmatrices

In [3]:
import statsmodels.api as sm

In [4]:
fertility = sm.datasets.fertility.load_pandas()['data']; # Loading dataset

In [5]:
import matplotlib.pyplot as plt

In [37]:
fertility_transform = fertility.drop(['Indicator Name', 'Indicator Code', 'Country Code'], axis = 1)

In [41]:
print(fertility_transform)

         Country Name   1960   1961   1962   1963   1964   1965   1966   1967  \
0               Aruba  4.820  4.655  4.471  4.271  4.059  3.842  3.625  3.417
1             Andorra    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2         Afghanistan  7.671  7.671  7.671  7.671  7.671  7.671  7.671  7.671
3              Angola  7.316  7.354  7.385  7.410  7.425  7.430  7.422  7.403
4             Albania  6.186  6.076  5.956  5.833  5.711  5.594  5.483  5.376
..                ...    ...    ...    ...    ...    ...    ...    ...    ...
214       Yemen, Rep.  7.292  7.308  7.328  7.354  7.385  7.418  7.447  7.471
215      South Africa  6.173  6.144  6.103  6.049  5.984  5.911  5.836  5.765
216  Congo, Dem. Rep.  6.001  6.015  6.030  6.048  6.067  6.089  6.111  6.135
217            Zambia  7.018  7.071  7.127  7.184  7.240  7.292  7.338  7.376
218          Zimbabwe  7.158  7.215  7.267  7.311  7.347  7.373  7.391  7.403

      1968  ...   2004   2005   2006   2007   2008   2009   2010   2011  2012  \
0    3.226  ...  1.786  1.769  1.754  1.739  1.726  1.713  1.701  1.690   NaN
1      NaN  ...    NaN    NaN  1.240  1.180  1.250  1.190  1.220    NaN   NaN
2    7.671  ...  7.136  6.930  6.702  6.456  6.196  5.928  5.659  5.395   NaN
3    7.375  ...  6.704  6.657  6.598  6.523  6.434  6.331  6.218  6.099   NaN
4    5.268  ...  2.004  1.919  1.849  1.796  1.761  1.744  1.741  1.748   NaN
..     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...   ...
214  7.491  ...  5.588  5.393  5.199  5.010  4.829  4.658  4.498  4.348   NaN
215  5.700  ...  2.721  2.675  2.627  2.580  2.538  2.500  2.467  2.438   NaN
216  6.161  ...  6.809  6.728  6.642  6.550  6.454  6.354  6.251  6.146   NaN
217  7.405  ...  5.974  5.954  5.932  5.908  5.881  5.849  5.813  5.773   NaN
218  7.411  ...  3.987  3.969  3.941  3.903  3.853  3.792  3.721  3.643   NaN

     2013
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
..    ...
214   NaN
215   NaN
216   NaN
217   NaN
218   NaN

[219 rows x 55 columns]

In [42]:
fertility_transform.dtypes

Country Name     object
1960            float64
1961            float64
1962            float64
1963            float64
1964            float64
1965            float64
1966            float64
1967            float64
1968            float64
1969            float64
1970            float64
1971            float64
1972            float64
1973            float64
1974            float64
1975            float64
1976            float64
1977            float64
1978            float64
1979            float64
1980            float64
1981            float64
1982            float64
1983            float64
1984            float64
1985            float64
1986            float64
1987            float64
1988            float64
1989            float64
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
dtype: object